@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: initial;
}

a:hover {
  color: initial !important;
  text-decoration: none !important;
}

.navigation {
  background: pink;
  display: flex;
  height: 65px;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.navigation ul li {
  margin-left: 2rem;
}

.navigation .toggle-button {
  transition: all 0.3s ease-in-out;
  position: relative;
}

.navigation .toggle-button .menu-btn {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.navigation .toggle-button .menu-btn::before,
.navigation .toggle-button .menu-btn::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.navigation .toggle-button .menu-btn::before {
  transform: translateY(-9.5px);
}

.navigation .toggle-button .menu-btn::after {
  transform: translateY(9.5px);
}

/* navigation animation */
.navigation .toggle-button.open .menu-btn {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.navigation .toggle-button.open .menu-btn::before {
  transform: rotate(45deg) translate(30px, -30px);
}

.navigation .toggle-button.open .menu-btn::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

@media screen and (min-width: 768px) {
  .navigation .toggle-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    height: 60px;
  }

  .navigation .menus {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 60px;
    width: 100%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    height: calc(100vh - 60px);
  }

  .navigation .menus.active {
    background: #242222;
    left: 0;
  }

  .navigation ul li {
    margin-left: 0;
    margin: 15px 0;
    font-size: 20px;
  }

  .navigation ul li a {
    color: #fff;
  }
}
